.site-header {
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar {
  background: aquamarine;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.logo {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-options {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
  }
  .active {
    a {
      font-weight: bold;
      color: #62DEBE;
      background: color(#62DEBE shade(40%))
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
  }
  .nav-options {
    order: 2;
    width: 100%;
  }
}

.account-actions {
  margin-left: auto;
  display: flex;
  width: 15%;
  min-width: 50px;
  position: relative;
  justify-content: flex-end;
  margin-right: 10px;

  & > i:hover {
    cursor: pointer;
  }

  ul {
    visibility: hidden;
    position: absolute;
    margin-top: 1rem;
    top: 0.5rem;
    left: 0px;
    right: 0px;
    list-style: none;
    padding: 5px;
    background: darkblue;
    transition: all 0.2s ease;
  }

  i:hover ~ ul, & ul:hover {
    visibility: visible;
    display: block;
    li {
      cursor: pointer;
    }

  }
}

.account-dropdown {
  margin-right: 10px ;
  display: block;
}



.sign-out-link {
  color:  #62DEBE;
  font-size: 0.9rem;
  text-transform: uppercase;
}