.product-box {
  max-width: 150px;
  border-style: solid;

  img {
    width: 100%;
    height: 100px;
    cursor: pointer;
  }
  .item-quantity{
    display: flex;
    flex-direction: row;

    .quantity {
      flex: 1;
      margin-right:5px;
    }

    .quantity input {
      width: 100%;
    }

    .button {
      flex: 2;
    }
  }


}
